h4{
  margin-left: 180;
}
nav{
  background-color: #1e88e5;
}
.page-footer{
  background-color: #1e88e5;
}
.collapsible{
  width: 50%;
  margin-left: 320;
}
.btn{
  margin-left: 230;
}
.parallax-container{
  height: 300;
}
.a{
  margin: 20;
  color: #e65100;
  margin-bottom: 200;
  font-family: sans-serif;
}
.b{
  font-family: sans-serif;
  margin: -270 300 ;
}
.c{
  margin: 270 350 200 300;
}
.d{
  margin: 30 180;
}
.e{
  margin: 40 90;
}
.f{
  margin: 30 100;
}
.g{
  margin: 0 1000 00 100;
}
.i{
  margin: 20 100;
}
.h{
  width: 350;
  margin: 20 99;
}
.j{
  margin: -350 820;
  margin-right: 20;
}
.k{
  width: 600;
  margin: 400 600 20;
  background-color: ghostwhite;
}
.l{
  margin: -40 83 10;
}
.online{
  height: auto;
  width: auto;
  font-family: Arial;
  
}
.cont{
  margin-left: 5%;
  color: black;
  width: 90%;
  border-style: groove;
}
.coll{
  display: inline-flex;
  width: auto;
  margin-left: 0px;
}
.section{
  font-family: ariel;
}
.add{
  width: 400px;
}
.headi{
  width: 400px;
  margin-left: 0px;
}
.post{
  margin-left: 630px;
  margin-top: -320px;
  height: 330px;
}
.test-pk{
  text-align: center;
  padding-top: 60px;
}
.imag{
  text-align: center;
  padding: 0 100px;
}
.imag img:hover {
  background-color: green;
}